.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.list-group-item:hover {
  box-shadow: 0px 5px 10px 2px rgba(0,0,0,0.3);
  -webkit-transition: 0.2s ease-in-out;
  -webkit-animation: 0.2s ease-in-out;
}

.bg-gg {
  background-color: #f1f1f1 !important;
}